Package: com.sassoty.spotcall
Name: SpotCall
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Dial numbers in spotlight
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.spotcall
